@import url('https://fonts.googleapis.com/css2?family=Inter&amp;display=swap&#39;');

p {
    color: rgb(7, 7, 7);
    font-family: 'Inter', sans-serif;
}

header> {
    background-color: black;
    font-family: 'Inter', sans-serif;
}

header>h1 {
    color: rgb(1, 1, 1);
    min-height: 120px;
    text-align: justify;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

header>#menu {
    position: center;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}